.input{
    border-radius: 5px;
    margin-right: .2rem;
    height: .5rem;
    padding: 10px;
    background: none;
    color: white;
}

.boton{
    background-color: #666668;
    border:1px solid  rgb(235, 135, 42);;
    border-radius: 5px;
    color: rgb(235, 135, 42);;
    height: 2rem;
}
.boton:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(235, 135, 42);
}
